/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.course {
    list-style: none;
}

    .course > li {
        position:relative;
        margin-bottom:30px;
    }
        .course > li .date {
            text-align: center;
            background-color: #4cff00;
            color: white;
            width: 60px;
            border-radius:8px;
        }

        .course > li .detail {
            position: absolute;
            top: 0;
            left: 70px;
        }
        
        
        .course > li .action {
            display: none;
            left: 70px;
            position: absolute;
        }

        .course > li:hover .action{
             display:block;
        }

button[type=submit] {
    background-color: #ff6a00;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

    button[type=submit]:hover {
        background-color: white;
        color: chocolate;
        cursor: pointer;
    }